[data-theme='light'] {
  --background: #f5f5f5;
  --card: #ffffff;
  --foreground: #333333;
  --highlight: #38A169;
  --border: #e0e0e0;
}

[data-theme='dark'] {
  --background: #1e1e2f;
  --card: #0b1e39;
  --foreground: #ffffff;
  --highlight: #63B3ED;
  --border: #424242;
}
