.topbar {
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-family: "Yuji Mai", serif;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  &__menu {
    display: flex;
    padding: 0.5rem;
    border-radius: 64px;
    font-size: 2rem;
    cursor: pointer;
  }
}
